.forecast {
  font-size: var(--size-xs);
}

.forecast__list {
  padding: 0.5rem;
}

.forecast__list li {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  gap: 5rem;
  border-bottom: 1px solid var(--clr-underline);
}

.forecast__day {
  width: 70px;
}

.forecast__weather-img {
  height: var(--size-3xl);
}

.forecast__temp {
  font-size: var(--size-2xl);
}

/* xs */
@media (min-width: 475px) {
  .forecast__list li {
    gap: 7rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .forecast__list li {
    gap: 12rem;
  }
}

/* md */
@media (min-width: 768px) {
  .forecast__list li {
    gap: 19em;
  }
  .forecast__temp {
    font-size: var(--size-3xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .forecast__list li {
    gap: 25rem;
  }
}
