.header {
  padding-top: 1rem;
  font-size: var(--size-m);
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.header__search-input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  padding-left: 1rem;
  color: var(--clr-light);
  background-color: var(--clr-grey);

  border: 0;
  background: none;
  border-radius: 6px;
  background-color: var(--clr-grey);
}

.header__search-input::placeholder {
  color: var(--clr-light);
}

.header__search-icon,
.header__sun-icon {
  width: var(--size-xl);
  height: var(--size-m);
}

.header__sun-icon {
  margin-right: 1rem;
}

.header__sun-icon {
  font-size: var(--size-m);
}

/* sm */
@media (min-width: 640px) {
  .header {
    font-size: var(--size-base);
  }
  .header__search-input {
    padding-right: 4rem;
  }

  .header__search-icon,
  .header__sun-icon {
    width: var(--size-2xl);
    height: var(--size-base);
  }

  .header__sun-icon {
    font-size: var(--size-base);
  }
}

/* md */
@media (min-width: 768px) {
  .header__search-input {
    padding-right: 7rem;
  }

  .header__search-icon,
  .header__sun-icon {
    width: var(--size-3xl);
    height: var(--size-lg);
  }

  .header__sun-icon {
    font-size: var(--size-lg);
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__search-input {
    padding-right: 12rem;
  }

  .header__search-icon,
  .header__sun-icon {
    width: var(--size-4xl);
    height: var(--size-xl);
  }

  .header__sun-icon {
    font-size: var(--size-xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .header__search-input {
    padding-right: 15rem;
  }

  .header__search-icon,
  .header__sun-icon {
    width: var(--size-5xl);
    height: var(--size-2xl);
  }

  .header__sun-icon {
    font-size: var(--size-2xl);
  }
}
