@media (min-width: 640px) {
  .conditions,
  .forecast {
    max-width: 60ch;
  }

  .conditions__header,
  .forecast__title {
    font-size: var(--size-3xl);
  }

  .conditions__value,
  .forecast__day {
    font-size: var(--size-3xl);
  }

  .conditions__image,
  .forecast__weather-img {
    width: var(--size-3xl);
    height: var(--size-3xl);
  }
}

@media (min-width: 768px) {
  .conditions,
  .forecast {
    max-width: 75ch;
  }

  .conditions__header,
  .forecast__title {
    font-size: var(--size-4xl);
  }

  .conditions__value,
  .forecast__day {
    font-size: var(--size-4xl);
  }

  .conditions__image,
  .forecast__weather-img {
    width: var(--size-4xl);
    height: var(--size-4xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .conditions,
  .forecast {
    max-width: 90ch;
  }
}
