@media (min-width: 640px) {
  .section-title {
    font-size: var(--size-2xl);
  }

  .section__scale-value {
    font-size: var(--size-2xl);
  }

  .section-img {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }
}

@media (min-width: 768px) {
  .section-title {
    font-size: var(--size-3xl);
  }

  .section__scale-value {
    font-size: var(--size-3xl);
  }

  .section-img {
    width: var(--size-3xl);
    height: var(--size-3xl);
  }
}
