@media (min-width: 1280px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 2rem;
  }

  .section {
    padding-left: 2rem;
    margin-left: 2rem;
    min-width: 69ch;
  }

  .forecast {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .conditions {
    margin-top: 0;
  }
  .forecast__weather-img {
    height: var(--size-5xl);
    width: var(--size-5xl);
  }
}
@media (min-width: 1580px) {
  main {
    max-width: 1580px;
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
