@media (min-width: 1580px) {
  main {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 0.5rem;
  }

  .section {
    margin-top: 2rem;
  }

  .forecast {
    grid-column: 2/3;
    grid-row: 1/4;

    max-width: 50ch;
    margin-right: 8rem;
    margin-top: 5rem;
    padding-bottom: 4.5rem;
  }

  .forecast__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .forecast__list li {
    flex: 1;
    gap: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .forecast__weather-img {
    height: var(--size-5xl);
    width: var(--size-5xl);
  }
}
